* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label {
    color: coral;
}

#id-selector {
    color: brown;
}

.class-selector {
    color: dimgray;
}

p, div, span, h4, h1 {
    font-size: 20px;
    color: dodgerblue;
}

a[target] {
    color: darkgoldenrod;
}

input[type] {
    border-radius: 20%;
}